@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5fff5;
}

/* Optional prettier scrollbars */
.scrollbar-thin {
  scrollbar-width: thin;
}
.scrollbar-thumb-green-400 {
  scrollbar-color: #4ade80 #dcfce7;
}
